**Introdução**

O dataset de filmes, disponível no Kaggle, oferece uma rica compilação de informações sobre produções cinematográficas. Com dados abrangentes, como títulos, gêneros, diretores e avaliações de usuários, esse conjunto fornece uma base sólida para análises exploratórias e insights sobre a indústria cinematográfica. Seja para entusiastas do cinema ou cientistas de dados, esse dataset promete uma experiência envolvente ao explorar o vasto universo do cinema.

[Fonte](https://www.kaggle.com/datasets/elvinrustam/imdb-movies-dataset)

Descrição de colunas:
* title: nome do filme;
* summary: sinopse do filme;
* director: diretor do filme;
* writer: autor do filme;
* main genres: gêneros principais;
* motion picture rating:                       ;
* runtime: tempo de duração;
* release year: ano de lançamento;
* number of ratings:  ;
* budget:  ;
* gross in US & Canada:  ;
* gross worldwide:  ;
* opening weekend gross in US & Canada:  ;

[Fonte](https://www.kaggle.com/datasets/elvinrustam/imdb-movies-dataset)

In [29]:
# importanto a biblioteca pandas 
import pandas as pd

In [30]:
# carregando os dados
df_filmes = pd.read_csv('IMDbMovies.csv')
df_filmes

,Title,Summary,Director,Writer,Main Genres,Motion Picture Rating,Runtime,Release Year,Rating,Number of Ratings,Budget,Gross in US & Canada,Gross worldwide,Opening Weekend Gross in US & Canada
0,Napoleon,An epic that details the checkered rise and fa...,Ridley Scott,David Scarpa,"Action,Adventure,Biography",R,2h 38m,2023.0,6.7/10,38K,NaN,"$37,514,498","$84,968,381","$20,638,887Nov 26, 2023"
1,The Hunger Games: The Ballad of Songbirds & Sn...,Coriolanus Snow mentors and develops feelings ...,Francis Lawrence,"Michael Lesslie,Michael Arndt,Suzanne Collins","Action,Adventure,Drama",PG-13,2h 37m,2023.0,7.2/10,37K,"$100,000,000 (estimated)","$105,043,414","$191,729,235","$44,607,143Nov 19, 2023"
2,The Killer,"After a fateful near-miss, an assassin battles...",David Fincher,"Andrew Kevin Walker,Luc Jacamon,Alexis Nolent","Action,Adventure,Crime",R,1h 58m,2023.0,6.8/10,117K,NaN,NaN,"$421,332",NaN
3,Leo,A 74-year-old lizard named Leo and his turtle ...,"David Wachtenheim,Robert Smigel,Robert Marianetti","Paul Sado,Robert Smigel,Adam Sandler","Animation,Comedy,Family",PG,1h 42m,2023.0,7.0/10,10K,NaN,NaN,NaN,NaN
4,Thanksgiving,"After a Black Friday riot ends in tragedy, a m...",Eli Roth,"Eli Roth,Jeff Rendell","Horror,Mystery,Thriller",R,1h 46m,2023.0,7.0/10,9.1K,NaN,"$25,408,677","$29,666,585","$10,306,272Nov 19, 2023"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9078,Over the Moon,"In this animated musical, a girl builds a rock...","John Kahrs,Glen Keane","Jennifer Yee McDevitt,Audrey Wells,Alice Wu","Animation,Adventure,Comedy",PG,1h 35m,2020.0,6.3/10,24K,NaN,NaN,NaN,NaN
9079,Young Adam,A young drifter working on a river barge disru...,David Mackenzie,"Alexander Trocchi,David Mackenzie","Crime,Drama",NC-17,1h 38m,2003.0,6.4/10,15K,"$6,400,000 (estimated)","$767,373","$2,561,820","$50,278Apr 18, 2004"
9080,The Greatest Show on Earth,"The dramatic lives of trapeze artists, a clown...",Cecil B. DeMille,"Theodore St. John,Fredric M. Frank,Barré Lyndon","Drama,Family,Romance",Passed,2h 32m,1952.0,6.5/10,16K,"$4,000,000 (estimated)","$36,000,000","$36,000,000",NaN
9081,Deep Water,A group of international passengers en route f...,Renny Harlin,Pete Bridges,Thriller,Passed,2h 32m,1952.0,NaN,NaN,NaN,NaN,NaN,NaN
9082,Once Upon a Time in Anatolia,A group of men set out in search of a dead bod...,Nuri Bilge Ceylan,"Ercan Kesal,Nuri Bilge Ceylan,Ebru Ceylan","Crime,Drama,Thriller",Not Rated,2h 37m,2011.0,7.8/10,49K,NaN,"$152,408","$2,099,472","$10,952Jan 8, 2012"

In [31]:
#fazendo um sort por diretor
df_filmes.sort_values(by=['Writer']).reset_index()

,index,Title,Summary,Director,Writer,Main Genres,Motion Picture Rating,Runtime,Release Year,Rating,Number of Ratings,Budget,Gross in US & Canada,Gross worldwide,Opening Weekend Gross in US & Canada
0,7407,Zola,A stripper named Zola embarks on a wild road t...,Janicza Bravo,"A'Ziah King,Jeremy O. Harris,Janicza Bravo","Comedy,Crime,Drama",R,1h 26m,2020.0,6.5/10,17K,NaN,"$4,844,399","$4,998,097","$1,200,013Jul 4, 2021"
1,3986,Winnie the Pooh: Blood and Honey,After Christopher Robin abandons them for coll...,Rhys Frake-Waterfield,"A.A. Milne,Rhys Frake-Waterfield",Horror,Not Rated,1h 24m,2023.0,2.9/10,25K,"$100,000 (estimated)","$1,750,639","$4,941,200","$652,482Feb 19, 2023"
2,6594,The Message,This epic historical drama chronicles the life...,Moustapha Akkad,"A.B. Jawdat El-Sahhar,H.A.L. Craig,Tewfik El-H...","Biography,Drama,History",PG,2h 57m,1976.0,8.1/10,50K,"$10,000,000 (estimated)",NaN,NaN,NaN
3,1586,The Ten Commandments,"Moses, raised as a prince of Egypt in the Phar...",Cecil B. DeMille,"A.E. Southon,Dorothy Clarke Wilson,J.H. Ingraham","Adventure,Drama,Family",G,3h 40m,1956.0,7.9/10,76K,"$13,282,712 (estimated)","$65,500,000","$65,500,000",NaN
4,7420,First Love,The story is described as a poignant look at a...,A.J. Edwards,A.J. Edwards,Romance,NaN,1h 36m,2022.0,4.8/10,1.5K,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9078,8938,Stormbreaker,"After the death of his uncle, the 14-year-old ...",Geoffrey Sax,NaN,"Action,Adventure,Family",PG,1h 33m,2006.0,5.1/10,25K,"£40,000,000 (estimated)","$677,646","$23,937,870",NaN
9079,8964,Lord of Illusions,A private detective gets more than he bargains...,Clive Barker,NaN,"Horror,Mystery,Thriller",R,1h 49m,1995.0,6.0/10,19K,"$12,000,000 (estimated)","$13,294,422","$13,294,422","$4,800,258Aug 27, 1995"
9080,8974,Thriller: A Cruel Picture,"A young woman, rendered mute after a childhood...",Bo Arne Vibenius,NaN,"Action,Crime,Drama",R,1h 44m,1973.0,6.4/10,8.3K,NaN,NaN,NaN,NaN
9081,9049,Please Stand By,A young autistic woman runs away from her care...,Ben Lewin,NaN,"Comedy,Drama",PG-13,1h 33m,2017.0,6.7/10,15K,NaN,"$9,868","$406,732","$4,090Jan 28, 2018"
9082,9077,Space Babes from Outer Space,Three space women land on Earth in search of s...,Brian K. Williams,NaN,"Comedy,Sci-Fi",Not Rated,1h 21m,2017.0,4.3/10,673,NaN,NaN,NaN,NaN

In [32]:
#fazendo um sort por gêneros e tempo de duração
df_filmes.sort_values(by=['Main Genres', 'Runtime']).reset_index()

,index,Title,Summary,Director,Writer,Main Genres,Motion Picture Rating,Runtime,Release Year,Rating,Number of Ratings,Budget,Gross in US & Canada,Gross worldwide,Opening Weekend Gross in US & Canada
0,4996,Vikings: Blood Lust,A band of vikings are on the run from a blood ...,Greg Keith,"Greg Keith,Harry Boxley",Action,NaN,1h 22m,2023.0,2.9/10,137,NaN,NaN,NaN,NaN
1,6513,Mercy,A doctor and former military officer finds her...,Tony Dean Smith,Alex Wright,Action,R,1h 25m,2023.0,4.7/10,654,"$5,000,000 (estimated)",NaN,NaN,NaN
2,1110,The Collective,A young recruit to a mysterious agency of assa...,Tom DeNucci,"Jason James,Matthew Rogers",Action,NaN,1h 26m,2023.0,3.1/10,1.2K,NaN,NaN,"$4,639",NaN
3,8957,I Am Rage,An ancient cult embroiled in a sinister blood ...,David Ryan Keith,"Stephen Durham,David Ryan Keith",Action,NaN,1h 29m,2023.0,5.2/10,979,NaN,NaN,NaN,NaN
4,5867,The Engineer,Follows the biggest manhunt in the history of ...,Danny A. Abeckaser,Kosta Kondilopoulos,Action,R,1h 32m,2023.0,3.8/10,999,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9078,8558,Jim Jones,Plot under wraps.,NaN,Scott Rosenberg,NaN,NaN,1h 35m,2018.0,NaN,NaN,NaN,NaN,NaN,NaN
9079,7518,UT69,Based on harrowing experience in the Arthur Ro...,Shahnawaz Ali,Vikram Bhatti,NaN,NaN,1h 57m,2023.0,8.5/10,1.5K,NaN,NaN,NaN,NaN
9080,8323,Untitled Margot Robbie Ocean's Eleven Film,Plot under wraps,Jay Roach,"Jack Golden Russell,George Clayton Johnson,Car...",NaN,Not Rated,2h 5m,1955.0,NaN,NaN,NaN,NaN,NaN,NaN
9081,5320,Kind of Kindness,Plot kept under wraps.,Yorgos Lanthimos,"Efthimis Filippou,Yorgos Lanthimos",NaN,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
9082,6743,Max Lucado's Because of Bethlehem,"Based on his bestselling book, Max Lucado remi...",Steve Gilreath,NaN,NaN,NaN,NaN,2023.0,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df_filmes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9083 entries, 0 to 9082
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Title                                 9083 non-null   object
 1   Summary                               9083 non-null   object
 2   Director                              9052 non-null   object
 3   Writer                                8759 non-null   object
 4   Main Genres                           9076 non-null   object
 5   Motion Picture Rating                 8285 non-null   object
 6   Runtime                               8918 non-null   object
 7   Release Year                          9076 non-null   float64
 8   Rating                                8813 non-null   object
 9   Number of Ratings                     8813 non-null   object
 10  Budget                                5879 non-null   object
 11  Gross in US & Canada                  6064 non-null   object
 12  Gross worldwide                       7128 non-null   object
 13  Opening Weekend Gross in US & Canada  5695 non-null   object
dtypes: float64(1), object(13)
memory usage: 993.6+ KB

In [34]:
# criando a função de processamento dos dados
def processamento_df(df_filmes):
    
    # 3 primeiras linhas do df
    df_3_linhas = df_filmes.head(3)
    
    # selecionando aleatoriamente 100 linhas do df
    df_menor = df_filmes.sample(100)
    
    # removendo colunas com muitos dados nulos
    df_filmes = df_filmes.drop(columns='Opening Weekend Gross in US & Canada')
    
    # ordenando por idade menor para o maior
    df_filmes = df_filmes.sort_values('Budget')
      
    # removendo dados duplicados
    df_filmes = df_filmes.drop_duplicates()
    
    # reset index
    df_filmes = df_filmes.reset_index()
    
    # lista de colunas
    colunas = list(df_filmes.columns) 
    
    # metricas: analise descritiva
    metricas = df_filmes.describe(include='all')
    
    return df_3_linhas, df_menor, df_filmes, colunas, metricas

In [35]:
# chamando a função processamento usando os dados do df
df_3_linhas, df_menor, df_teste, colunas, metricas = processamento_df(df_filmes)

In [36]:
# verificando se o retorno das 3 primeiras linhas está correto
df_3_linhas

,Title,Summary,Director,Writer,Main Genres,Motion Picture Rating,Runtime,Release Year,Rating,Number of Ratings,Budget,Gross in US & Canada,Gross worldwide,Opening Weekend Gross in US & Canada
0,Napoleon,An epic that details the checkered rise and fa...,Ridley Scott,David Scarpa,"Action,Adventure,Biography",R,2h 38m,2023.0,6.7/10,38K,NaN,"$37,514,498","$84,968,381","$20,638,887Nov 26, 2023"
1,The Hunger Games: The Ballad of Songbirds & Sn...,Coriolanus Snow mentors and develops feelings ...,Francis Lawrence,"Michael Lesslie,Michael Arndt,Suzanne Collins","Action,Adventure,Drama",PG-13,2h 37m,2023.0,7.2/10,37K,"$100,000,000 (estimated)","$105,043,414","$191,729,235","$44,607,143Nov 19, 2023"
2,The Killer,"After a fateful near-miss, an assassin battles...",David Fincher,"Andrew Kevin Walker,Luc Jacamon,Alexis Nolent","Action,Adventure,Crime",R,1h 58m,2023.0,6.8/10,117K,NaN,NaN,"$421,332",NaN

In [37]:
# verificando se o retorno dos dados aleatorios das 100 linhas está correto
df_menor

,Title,Summary,Director,Writer,Main Genres,Motion Picture Rating,Runtime,Release Year,Rating,Number of Ratings,Budget,Gross in US & Canada,Gross worldwide,Opening Weekend Gross in US & Canada
4064,An Education,A coming-of-age story about a teenage girl in ...,Lone Scherfig,"Lynn Barber,Nick Hornby",Drama,PG-13,1h 40m,2009.0,7.3/10,137K,"$7,500,000 (estimated)","$12,574,914","$26,096,852","$159,017Oct 11, 2009"
7660,Epic Tails,"Life in Yolcos, a beautiful and prosperous por...","Jean-François Tosti(participation),Jean-Franço...","Jean-François Tosti,Eric Tosti,David Alaux","Animation,Adventure,Comedy",PG,1h 35m,2022.0,5.9/10,625,NaN,NaN,"$14,487,734",NaN
1373,Someone to Watch Over Me,A married New York cop falls for the socialite...,Ridley Scott,"David Seltzer(uncredited),Howard Franklin,Davi...","Crime,Drama,Romance",R,1h 46m,1987.0,6.1/10,11K,"$12,800,000 (estimated)","$10,278,549","$10,278,549","$2,908,796Oct 12, 1987"
5355,Gentlemen Prefer Blondes,Showgirls Lorelei Lee and Dorothy Shaw travel ...,Howard Hawks,"Joseph Fields,Charles Lederer,Anita Loos","Comedy,Musical,Romance",Approved,1h 31m,1953.0,7.1/10,42K,"$2,260,000 (estimated)",NaN,"$1,547",NaN
22,Best. Christmas. Ever!,Friendships are put to the ultimate test over ...,Mary Lambert,"Todd Calgi Gallicano,Charles Shyer","Comedy,Romance",TV-PG,1h 22m,2023.0,4.4/10,5.1K,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3860,Kaithi,"Dilli, an ex-convict, endeavours to meet his d...",Lokesh Kanagaraj,"Pon Parthiban,Sanjeev Tiwari,Lokesh Kanagaraj","Action,Crime,Thriller",Not Rated,2h 25m,2019.0,8.5/10,40K,"₹240,000,000 (estimated)",NaN,"$522,938",NaN
5199,The In Between,After surviving a car accident that took the l...,Arie Posin,Marc Klein,"Drama,Romance,Sci-Fi",PG-13,1h 55m,2022.0,5.9/10,9.7K,NaN,NaN,NaN,NaN
760,Magnolia,An epic mosaic of interrelated characters in s...,Paul Thomas Anderson,Paul Thomas Anderson,Drama,R,3h 8m,1999.0,8.0/10,324K,"$37,000,000 (estimated)","$22,455,976","$48,451,803","$193,604Dec 19, 1999"
6791,The War Zone,"An alienated teenager, saddened that he has mo...",Tim Roth,NaN,"Drama,Thriller",R,1h 38m,1999.0,7.3/10,11K,NaN,"$254,441","$254,441","$18,335Dec 12, 1999"
214,Grown Ups 2,After moving his family back to his hometown t...,Dennis Dugan,"Adam Sandler,Fred Wolf,Tim Herlihy",Comedy,PG-13,1h 41m,2013.0,5.4/10,166K,"$80,000,000 (estimated)","$133,668,525","$246,984,278","$41,508,572Jul 14, 2013"

In [38]:
# verificando se o retorno da lista de colunas
colunas

['index',
 'Title',
 'Summary',
 'Director',
 'Writer',
 'Main Genres',
 'Motion Picture Rating',
 'Runtime',
 'Release Year',
 'Rating',
 'Number of Ratings',
 'Budget',
 'Gross in US & Canada',
 'Gross worldwide']

In [39]:
# verificando se o retorno do tratamento dos dados está correto
df_teste

,index,Title,Summary,Director,Writer,Main Genres,Motion Picture Rating,Runtime,Release Year,Rating,Number of Ratings,Budget,Gross in US & Canada,Gross worldwide
0,7303,Johnny Got His Gun,"During World War I, a patriotic young American...",Dalton Trumbo,"Luis Buñuel,Luis Buñuel(uncredited),Dalton Trumbo","Drama,War",R,1h 51m,1971.0,7.8/10,18K,"$1,000,000 (estimated)",NaN,"$2,735"
1,7093,Chernobyl Diaries,Six tourists hire an extreme tour guide who ta...,Bradley Parker,"Shane Van Dyke,Oren Peli,Carey Van Dyke","Horror,Mystery,Thriller",R,1h 26m,2012.0,5.0/10,68K,"$1,000,000 (estimated)","$18,119,640","$38,390,020"
2,4026,The Breakfast Club,Five high school students meet in Saturday det...,John Hughes,John Hughes,"Comedy,Drama",R,1h 37m,1985.0,7.8/10,427K,"$1,000,000 (estimated)","$45,875,171","$51,525,171"
3,3975,Shattered,A rich divorcee Chris falls in love with a mys...,Luis Prieto,David Loughery,"Crime,Drama,Horror",R,1h 32m,2022.0,5.0/10,5K,"$1,000,000 (estimated)",NaN,"$425,457"
4,7463,The Quiet Earth,A man named Zac Hobson awakens to find himself...,Geoff Murphy,"Bruno Lawrence,Bill Baer,Craig Harrison","Drama,Mystery,Sci-Fi",R,1h 31m,1985.0,6.7/10,27K,"$1,000,000 (estimated)","$2,123,135","$2,123,135"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9078,9075,Sleep,"A young, expectant wife must figure out how to...",Jason Yu,Jason Yu,"Comedy,Horror,Mystery",NaN,1h 35m,2023.0,6.9/10,505,NaN,NaN,"$10,331,786"
9079,9077,Space Babes from Outer Space,Three space women land on Earth in search of s...,Brian K. Williams,NaN,"Comedy,Sci-Fi",Not Rated,1h 21m,2017.0,4.3/10,673,NaN,NaN,NaN
9080,9078,Over the Moon,"In this animated musical, a girl builds a rock...","John Kahrs,Glen Keane","Jennifer Yee McDevitt,Audrey Wells,Alice Wu","Animation,Adventure,Comedy",PG,1h 35m,2020.0,6.3/10,24K,NaN,NaN,NaN
9081,9081,Deep Water,A group of international passengers en route f...,Renny Harlin,Pete Bridges,Thriller,Passed,2h 32m,1952.0,NaN,NaN,NaN,NaN,NaN
9082,9082,Once Upon a Time in Anatolia,A group of men set out in search of a dead bod...,Nuri Bilge Ceylan,"Ercan Kesal,Nuri Bilge Ceylan,Ebru Ceylan","Crime,Drama,Thriller",Not Rated,2h 37m,2011.0,7.8/10,49K,NaN,"$152,408","$2,099,472"

In [40]:
# verificando se o retorno das metricas está correto
metricas.T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
index,9083.0,NaN,NaN,NaN,4541.0,2622.180581,0.0,2270.5,4541.0,6811.5,9082.0
Title,9083,8728,The Killer,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Summary,9083,9051,Plot under wraps.,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Director,9052,4363,Steven Spielberg,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Writer,8759,7853,John Hughes,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Main Genres,9076,460,Drama,424,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Motion Picture Rating,8285,25,R,3508,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Runtime,8918,171,1h 35m,259,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Release Year,9076.0,NaN,NaN,NaN,2004.142133,18.849816,1915.0,1994.0,2010.0,2019.0,2027.0
Rating,8813,82,6.6/10,373,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of Ratings,8813,1149,12K,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Budget,5879,903,"$20,000,000 (estimated)",224,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gross in US & Canada,6064,6041,"$46,808",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gross worldwide,7128,7117,"$46,808",3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# salvando o df para um arquivo csv
df_teste.to_csv("df_filmes_processado.csv")

# Insights:

- o filme mais antigo foi lançado em 1915 
- o filme mais "moderno" será lançado em 2027
- o gênero mais comum é drama
- o diretor que tem mais filmes citados é steven spielberg

# Bônus: 

* traduzir colunas do dataset Filmes IMDb do inglês para o português

In [47]:
dict_tradutor = {
    'title': 'nome do filme',
    'summary': 'sinopse do filme',
    'director': 'diretor do filme',
    'writer': 'autor do filme',
    'main genres' : 'gêneros principais',
    'motion picture rating' : 'classificação indicativa de filmes',
    'runtime' : 'tempo de duração',
    'release year' : 'ano de lançamento',
    'number of ratings' : 'quantidade de avaliações',
    'budget' : 'orçamento',
    'gross in US & Canada' : 'bilheteria nos EUA e Canadá',
    'gross worldwide' : 'bilheteria mundial',
    'opening weekend gross in US & Canada' : 'bilheteria do fim de semana '
}

colunas_portugues = []

for chave, valor in dict_tradutor.items():
    colunas_portugues.append(valor)

colunas_portugues

['nome do filme',
 'sinopse do filme',
 'diretor do filme',
 'autor do filme',
 'gêneros principais',
 'classificação indicativa de filmes',
 'tempo de duração',
 'ano de lançamento',
 'quantidade de avaliações',
 'orçamento',
 'bilheteria nos EUA e Canadá',
 'bilheteria mundial',
 'bilheteria do fim de semana ']

In [49]:
dict_tradutor.items()

dict_items([('title', 'nome do filme'), ('summary', 'sinopse do filme'), ('director', 'diretor do filme'), ('writer', 'autor do filme'), ('main genres', 'gêneros principais'), ('motion picture rating', 'classificação indicativa de filmes'), ('runtime', 'tempo de duração'), ('release year', 'ano de lançamento'), ('number of ratings', 'quantidade de avaliações'), ('budget', 'orçamento'), ('gross in US & Canada', 'bilheteria nos EUA e Canadá'), ('gross worldwide', 'bilheteria mundial'), ('opening weekend gross in US & Canada', 'bilheteria do fim de semana ')])

### Trabalho realizado em dupla com Andreza Oliveira