In [3]:
import pandas as pd
import csv
import matplotlib.pyplot as plt

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [22]:
df = pd.read_csv("/content/drive/MyDrive/WOMEN CINEMA/movies.csv")
print(df.head(3))

   Unnamed: 0                   title  year  bt_score  dubious  imdbid  \
0           0              Cinderella  1899         3        0     230
1           1  Gretchen the Greenhorn  1916         3        0    6745
2           2              Snow White  1916         3        0    7361

   tmdbId                                     genres  popularity  \
0  114108  ['Drama', 'Family', 'Fantasy', 'Romance']       3.762
1  126925                                         []       1.942
2  174598                       ['Fantasy', 'Drama']       0.817

              production_companies  ... revenue vote_average  vote_count  \
0  ['Star-Film', 'Georges Méliès']  ...     0.0          6.1        79.0
1                               []  ...     0.0          6.1         7.0
2                               []  ...     0.0          5.7         9.0

                                                cast  \
0  [{'adult': False, 'gender': 2, 'id': 11523, 'k...
1  [{'adult': False, 'gender': 1, 'id': 30779, 'k...
2  [{'adult': False, 'gender': 0, 'id': 1658947, ...

                                                crew budget  \
0  [{'adult': False, 'gender': 2, 'id': 11523, 'k...    0.0
1  [{'adult': False, 'gender': 2, 'id': 42060, 'k...    0.0
2  [{'adult': False, 'gender': 2, 'id': 28968, 'k...    0.0

          cast_gender   crew_gender cast_female_representation  \
0  [2, 0, 1, 0, 1, 0]  [2, 2, 2, 2]                  33.333333
1        [1, 2, 2, 2]     [2, 2, 2]                  25.000000
2     [0, 1, 2, 2, 0]           [2]                  20.000000

  crew_female_representation
0                        0.0
1                        0.0
2                        0.0

[3 rows x 22 columns]

In [5]:
df.head()

,Unnamed: 0,title,year,bt_score,dubious,imdbid,tmdbId,genres,popularity,production_companies,...,revenue,vote_average,vote_count,cast,crew,budget,cast_gender,crew_gender,cast_female_representation,crew_female_representation
0,0,Cinderella,1899,3,0,230,114108,"['Drama', 'Family', 'Fantasy', 'Romance']",3.762,"['Star-Film', 'Georges Méliès']",...,0.0,6.1,79.0,"[{'adult': False, 'gender': 2, 'id': 11523, 'k...","[{'adult': False, 'gender': 2, 'id': 11523, 'k...",0.0,"[2, 0, 1, 0, 1, 0]","[2, 2, 2, 2]",33.333333,0.000000
1,1,Gretchen the Greenhorn,1916,3,0,6745,126925,[],1.942,[],...,0.0,6.1,7.0,"[{'adult': False, 'gender': 1, 'id': 30779, 'k...","[{'adult': False, 'gender': 2, 'id': 42060, 'k...",0.0,"[1, 2, 2, 2]","[2, 2, 2]",25.000000,0.000000
2,2,Snow White,1916,3,0,7361,174598,"['Fantasy', 'Drama']",0.817,[],...,0.0,5.7,9.0,"[{'adult': False, 'gender': 0, 'id': 1658947, ...","[{'adult': False, 'gender': 2, 'id': 28968, 'k...",0.0,"[0, 1, 2, 2, 0]",[2],20.000000,0.000000
3,3,The Poor Little Rich Girl,1917,3,0,8443,95866,"['Romance', 'Comedy', 'Drama', 'Fantasy']",2.023,['Artcraft Pictures Corporation'],...,0.0,5.8,23.0,"[{'adult': False, 'gender': 1, 'id': 100047, '...","[{'adult': False, 'gender': 2, 'id': 13335, 'k...",0.0,"[1, 0, 0, 0, 2, 0, 1, 1, 0, 2, 0, 1, 1]","[2, 2, 1, 1, 2, 2, 0]",38.461538,28.571429
4,4,Stella Maris,1918,3,0,9652,70753,['Drama'],1.310,['Mary Pickford Company'],...,2400000.0,6.9,19.0,"[{'adult': False, 'gender': 1, 'id': 100047, '...","[{'adult': False, 'gender': 1, 'id': 34741, 'k...",0.0,"[1, 1, 2, 2, 1, 0, 0, 2]","[1, 2, 2, 0, 2, 2]",37.500000,16.666667

# INTRODUÇÃO
A base de dados utilizada neste notebook trata-se de um conjunto de informações sobre a representação feminina no cinema.
O DataFrame inclui colunas como  'title', 'year', 'bt_score', 'dubious', 'imdbid', 'tmdbId', 'genres', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'vote_average', 'vote_count', 'cast', 'crew', 'budget', 'cast_gender', 'crew_gender', 'cast_female_representation', 'crew_female_representation'.

In [17]:
df_sorted = df.sort_values(by=['year', 'bt_score'], ascending=[True, False])
df_sorted

,Unnamed: 0,title,year,bt_score,dubious,genres,popularity,production_companies,production_countries,release_date,revenue,vote_average,vote_count,cast,crew,budget,cast_gender,crew_gender,cast_female_representation,crew_female_representation
6496,6807,Sallie Gardner at a Gallop,1878,0,0,"['Animation', 'Documentary']",5.528,['Palo Alto Stock Farm'],['United States of America'],14/06/1878,0.0,6.7,112.0,"[{'adult': False, 'gender': 1, 'id': 1727031, ...","[{'adult': False, 'gender': 2, 'id': 1077300, ...",0.0,"[1, 2]","[2, 0]",50.000000,0.000000
6497,6810,Accordion Player,1888,0,0,['Documentary'],3.293,['Whitley Partners'],['United Kingdom'],01/01/1888,0.0,4.7,54.0,"[{'adult': False, 'gender': 2, 'id': 80644, 'k...","[{'adult': False, 'gender': 2, 'id': 569209, '...",0.0,[2],[2],0.000000,0.000000
6498,6812,"Monkeyshines, No. 1",1890,0,0,['Documentary'],4.078,['Edison Studios'],['United States of America'],21/11/1890,0.0,5.0,78.0,"[{'adult': False, 'gender': 0, 'id': 1429382, ...","[{'adult': False, 'gender': 2, 'id': 110347, '...",0.0,[0],"[2, 2, 2, 2]",0.000000,0.000000
6499,6813,"Monkeyshines, No. 2",1890,0,0,['Documentary'],2.920,['Edison Studios'],['United States of America'],21/11/1890,0.0,4.4,38.0,"[{'adult': False, 'gender': 0, 'id': 110350, '...","[{'adult': False, 'gender': 2, 'id': 110347, '...",0.0,[0],"[2, 2, 2, 2]",0.000000,0.000000
6500,6815,"Monkeyshines, No. 3",1890,0,0,[],1.128,['Edison Studios'],['United States of America'],21/11/1890,0.0,3.4,14.0,"[{'adult': False, 'gender': 0, 'id': 110350, '...","[{'adult': False, 'gender': 2, 'id': 110347, '...",0.0,[0],"[2, 2]",0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7277,7633,MFKZ,2017,0,0,"['Science Fiction', 'Animation', 'Action', 'Cr...",7.712,"['Ankama', 'Studio 4°C']","['France', 'Japan']",23/05/2018,461724.0,7.1,222.0,"[{'adult': False, 'gender': 2, 'id': 1265647, ...","[{'adult': False, 'gender': 1, 'id': 90162, 'k...",0.0,"[2, 2, 2, 2, 1, 2, 2, 0, 2, 2, 0, 2, 0, 0, 2]","[1, 2, 0, 0, 0, 2, 2, 2, 0, 1, 0, 0]",6.666667,16.666667
7278,7634,War Machine,2017,0,0,"['Comedy', 'Drama', 'War']",12.251,['Plan B Entertainment'],['United States of America'],26/05/2017,0.0,5.5,922.0,"[{'adult': False, 'gender': 2, 'id': 287, 'kno...","[{'adult': False, 'gender': 2, 'id': 120, 'kno...",60000000.0,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, ...","[2, 2, 1, 0, 2, 2, 1, 1, 2, 2, 2, 2, 0, 0, 0, ...",12.280702,16.129032
6495,6805,Patient Zero,2018,1,0,"['Horror', 'Thriller', 'Action', 'Drama']",14.074,"['Vincent Newman Entertainment', 'Screen Gems'...","['United Kingdom', 'United States of America']",14/09/2018,0.0,5.3,290.0,"[{'adult': False, 'gender': 2, 'id': 136532, '...","[{'adult': False, 'gender': 2, 'id': 5583, 'kn...",0.0,"[2, 1, 2, 2, 2, 2, 1, 2, 2, 1, 0, 1, 1, 1, 1, ...","[2, 2, 2, 1, 0, 0, 2, 2, 2, 2, 1, 2, 0, 2, 2, ...",44.444444,2.717391
4033,4220,Iron Sky: The Coming Race,2019,3,0,"['Action', 'Comedy', 'Fantasy', 'Science Ficti...",8.948,"['Potemkino', 'Iron sky universe', '27 Films P...","['Finland', 'Germany']",25/01/2019,400900.0,5.1,266.0,"[{'adult': False, 'gender': 1, 'id': 1404497, ...","[{'adult': False, 'gender': 2, 'id': 6764, 'kn...",21000000.0,"[1, 2, 2, 1, 1, 2, 2, 2, 2, 1, 0, 2, 0, 0, 0, ...","[2, 1, 1, 2, 2, 0, 2, 2, 2, 2, 2, 0, 0, 2, 0, ...",13.888889,7.462687
4804,5021,Bad Boys for Life,2020,2,0,"['Thriller', 'Action', 'Crime']",98.868,"['Columbia Pictures', '2.0 Entertainment', 'Do...",['United States of America'],15/01/2020,426505244.0,7.2,7022.0,"[{'adult': False, 'gender': 2, 'id': 2888, 'kn...","[{'adult': False, 'gender': 2, 'id': 770, 'kno...",90000000.0,"[2, 2, 1, 1, 2, 2, 1, 2, 2, 1, 2, 2, 2, 0, 0, ...","[2, 2, 2, 1, 2, 0, 0, 0, 0, 2, 2, 2, 2, 1, 2, ...",18.556701,9.756098

In [19]:
df_sem_nulos = df.dropna()
df_sem_nulos

,Unnamed: 0,title,year,bt_score,dubious,genres,popularity,production_companies,production_countries,release_date,revenue,vote_average,vote_count,cast,crew,budget,cast_gender,crew_gender,cast_female_representation,crew_female_representation
0,0,Cinderella,1899,3,0,"['Drama', 'Family', 'Fantasy', 'Romance']",3.762,"['Star-Film', 'Georges Méliès']",['France'],01/10/1899,0.0,6.1,79.0,"[{'adult': False, 'gender': 2, 'id': 11523, 'k...","[{'adult': False, 'gender': 2, 'id': 11523, 'k...",0.0,"[2, 0, 1, 0, 1, 0]","[2, 2, 2, 2]",33.333333,0.000000
1,1,Gretchen the Greenhorn,1916,3,0,[],1.942,[],[],03/09/1916,0.0,6.1,7.0,"[{'adult': False, 'gender': 1, 'id': 30779, 'k...","[{'adult': False, 'gender': 2, 'id': 42060, 'k...",0.0,"[1, 2, 2, 2]","[2, 2, 2]",25.000000,0.000000
2,2,Snow White,1916,3,0,"['Fantasy', 'Drama']",0.817,[],[],24/12/1916,0.0,5.7,9.0,"[{'adult': False, 'gender': 0, 'id': 1658947, ...","[{'adult': False, 'gender': 2, 'id': 28968, 'k...",0.0,"[0, 1, 2, 2, 0]",[2],20.000000,0.000000
3,3,The Poor Little Rich Girl,1917,3,0,"['Romance', 'Comedy', 'Drama', 'Fantasy']",2.023,['Artcraft Pictures Corporation'],['United States of America'],05/03/1917,0.0,5.8,23.0,"[{'adult': False, 'gender': 1, 'id': 100047, '...","[{'adult': False, 'gender': 2, 'id': 13335, 'k...",0.0,"[1, 0, 0, 0, 2, 0, 1, 1, 0, 2, 0, 1, 1]","[2, 2, 1, 1, 2, 2, 0]",38.461538,28.571429
4,4,Stella Maris,1918,3,0,['Drama'],1.310,['Mary Pickford Company'],['United States of America'],21/01/1918,2400000.0,6.9,19.0,"[{'adult': False, 'gender': 1, 'id': 100047, '...","[{'adult': False, 'gender': 1, 'id': 34741, 'k...",0.0,"[1, 1, 2, 2, 1, 0, 0, 2]","[1, 2, 2, 0, 2, 2]",37.500000,16.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7274,7630,Sand Castle,2017,0,0,"['War', 'Action', 'Drama']",31.004,"['The Mark Gordon Company', 'International Tra...","['United Kingdom', 'Iraq']",21/04/2017,0.0,6.5,631.0,"[{'adult': False, 'gender': 2, 'id': 130253, '...","[{'adult': False, 'gender': 1, 'id': 5914, 'kn...",0.0,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, ...","[1, 2, 2, 2, 2, 1, 1, 0, 0, 0, 2, 0, 2, 0, 2, ...",4.545455,11.111111
7275,7631,Diary of a Wimpy Kid: The Long Haul,2017,0,0,"['Comedy', 'Family']",17.122,"['20th Century Fox', 'TSG Entertainment', 'Col...",['United States of America'],19/05/2017,40120144.0,5.3,355.0,"[{'adult': False, 'gender': 2, 'id': 1517834, ...","[{'adult': False, 'gender': 2, 'id': 1999, 'kn...",22000000.0,"[2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 0, 0, 0, 1, ...","[2, 0, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 1, ...",20.289855,12.000000
7276,7632,God's Own Country,2017,0,0,"['Romance', 'Drama']",16.294,"['BFI', 'Inflammable Films', 'Met Film Product...",['United Kingdom'],01/09/2017,2559939.0,7.8,715.0,"[{'adult': False, 'gender': 2, 'id': 1206334, ...","[{'adult': False, 'gender': 1, 'id': 2635, 'kn...",0.0,"[2, 1, 2, 2, 2, 1, 2, 0, 0, 1, 2, 0, 2, 1]","[1, 2, 0, 2, 2, 2, 2, 1, 0, 0, 0, 1, 2, 0, 0, ...",28.571429,10.769231
7277,7633,MFKZ,2017,0,0,"['Science Fiction', 'Animation', 'Action', 'Cr...",7.712,"['Ankama', 'Studio 4°C']","['France', 'Japan']",23/05/2018,461724.0,7.1,222.0,"[{'adult': False, 'gender': 2, 'id': 1265647, ...","[{'adult': False, 'gender': 1, 'id': 90162, 'k...",0.0,"[2, 2, 2, 2, 1, 2, 2, 0, 2, 2, 0, 2, 0, 0, 2]","[1, 2, 0, 0, 0, 2, 2, 2, 0, 1, 0, 0]",6.666667,16.666667
7278,7634,War Machine,2017,0,0,"['Comedy', 'Drama', 'War']",12.251,['Plan B Entertainment'],['United States of America'],26/05/2017,0.0,5.5,922.0,"[{'adult': False, 'gender': 2, 'id': 287, 'kno...","[{'adult': False, 'gender': 2, 'id': 120, 'kno...",60000000.0,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, ...","[2, 2, 1, 0, 2, 2, 1, 1, 2, 2, 2, 2, 0, 0, 0, ...",12.280702,16.129032

In [24]:
# Obtendo a lista de gêneros únicos
generos_unicos = df['genres'].unique()
print("Gêneros Únicos:", generos_unicos)

Gêneros Únicos: ["['Drama', 'Family', 'Fantasy', 'Romance']" '[]' "['Fantasy', 'Drama']"
 ... "['Drama', 'Animation', 'Horror']" "['War', 'Thriller', 'Drama']"
 "['Science Fiction', 'Animation', 'Action', 'Crime']"]

In [25]:
# Calcular a popularidade média por gênero
popularidade_por_genero = df.groupby('genres')['popularity'].mean().sort_values(ascending=False)
print("Popularidade Média por Gênero:")
print(popularidade_por_genero)

Popularidade Média por Gênero:
genres
['Action', 'Drama', 'Adventure']                          468.272500
['Action', 'Adventure', 'Fantasy', 'Science Fiction']     416.546667
['Action', 'Adventure', 'Science Fiction', 'Thriller']    279.844250
['Action', 'Mystery', 'Science Fiction', 'Thriller']      274.243000
['Action', 'Romance', 'Animation']                        253.172000
                                                             ...
['Romance', 'Crime', 'Drama', 'Comedy']                     0.777000
['Mystery', 'Drama', 'Adventure', 'Thriller']               0.652000
['Drama', 'TV Movie', 'History']                            0.600000
['Crime', 'Horror', 'Thriller']                             0.600000
['Adventure', 'Comedy', 'Crime', 'Romance']                 0.600000
Name: popularity, Length: 1647, dtype: float64

In [21]:

lista_de_colunas = df.columns.tolist()
print("Lista de Colunas:", lista_de_colunas)

Lista de Colunas: ['Unnamed: 0', 'title', 'year', 'bt_score', 'dubious', 'genres', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'vote_average', 'vote_count', 'cast', 'crew', 'budget', 'cast_gender', 'crew_gender', 'cast_female_representation', 'crew_female_representation']